@using MatchMaker.Web
@using MatchMaker.Web.Common


@{
	Layout = "Shared/Layout.cshtml";
}


<form method="POST">
	<table>
		<tr>
			<td>Current Password:</td>
			<td><input name="currentPassword" type="password" size="20" autofocus="autofocus"/></td>
		</tr>
		<tr>
			<td>New Password:</td>
			<td><input name="newPassword1" type="password" size="20"/></td>
		</tr>
		<tr>
			<td>Re-enter New Password:</td>
			<td><input name="newPassword2" type="password" size="20"/></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="Change Password"/></td>
		</tr>
	</table>
</form>
